html, body {
    height: 100%;
    width: 100%;

}

#page-container {
    font-family: sans-serif;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;

}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 90%;
}

.logo-header {
    display: flex;
    justify-content: flex-start;
    width: 10%;
}

.logo-header img {
    width: 100%;
}

.header-upper-nav {
    height: 50%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;

}

.header-upper-nav div:nth-child(2) {
    display: flex;
    flex-grow: 3;
    align-self: stretch;

}

.header-upper-nav div:first-child, .header-upper-nav div:nth-child(3) {
    display: flex;
    align-self: stretch;

}

.header-upper-nav input {
    width: 100%;
    border: none;
    background-color: whitesmoke;
    margin: 0 .5em 0 0;

}

.header-upper-nav input, .header-upper-nav select {
    margin-bottom: 1em;
}

.header-upper-nav div:nth-child(4) {
    display: flex;
    align-self: stretch;
}

.header-upper-nav select {
    border: none;
    color: #007d8f;

}
.logo-localisation {
    object-fit: contain;
    width: 30px;
    background-color: #99cc00;
    border-radius: 6px;
    padding: 2px;
    margin: 2px 2px 1em 2px;

}

.logo-localisation img {

}


.header-padlock {
    width: 20px;
}


.button-upper-nav {
    display: flex;
    width: 35%;
    justify-content: flex-end;



}

.button-contact, .button-open-account, .button-personnal-space{
    border: none;
}


.button-contact {
    background-color: #009787;
    width: 33%;
    color: whitesmoke;



}

.button-open-account {
    background-color: #006675;
    width: 33%;
    color: whitesmoke;
}

.button-personnal-space {
    background-color: #007d8f;
    width: 33%;
    color: whitesmoke;
}


.header-lower-nav li {
    list-style: none;
}

.header-lower-nav {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    background-color: #f5f5f5;
    color: #454545;

}

.header-lower-nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 0px;
    padding: 0;

}

.header-lower-nav li {
    margin: 5px;
}

.header-lower-nav select {
    border: none;
    padding: 0;
    background-color:#f5f5f5 ;
    color: #454545;




}